name: Update Playlist

on:
  schedule:
    - cron: '0 0 * * *' # Run daily at midnight
  workflow_dispatch: # Allow manual trigger

jobs:
  validate-streams:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Validate playlist streams
        run: python check_streams.py india.m3u --timeout 10 --workers 20
        continue-on-error: true

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add india.m3u
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update playlist [skip ci]" && git push)
